[submodule "thirdparty/jellybeans"]
	path = thirdparty/jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "thirdparty/codeschool"]
	path = thirdparty/codeschool
	url = https://github.com/29decibel/codeschool-vim-theme.git
[submodule "thirdparty/distinguished"]
	path = thirdparty/distinguished
	url = https://github.com/Lokaltog/vim-distinguished.git
[submodule "thirdparty/twilight256"]
	path = thirdparty/twilight256
	url = https://github.com/vim-scripts/twilight256.vim.git
